*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

li,
a {
	list-style: none;
	text-decoration: none;
}

img,
svg {
	display: block;
	max-width: 100%;
	height: auto;
}

:root {
	/* Primary */
	--clr-primary-100: #3ee9e5;
	--clr-primary-300: #ff2965;
	--clr-primary-600: #093f68;

	/* Secondary */
	--clr-secondary-100: #ffffff;
	--clr-secondary-300: #777f98;
	--clr-secondary-600: #080c20;

	/* Fonts */
	--fs-title: clamp(2rem, 1.3478rem + 2.7826vw, 3rem);
	--fs-subtitle: clamp(1.5rem, -0.6099rem + 4.3956vw, 2rem);
}

@font-face {
	font-family: 'Manrope';
	src:
		url('./assets/Fonts/Manrope-Medium.woff2') format('woff2'),
		url('./assets/Fonts/Manrope-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Manrope';
	src:
		url('./assets/Fonts/Manrope-ExtraBold.woff2') format('woff2'),
		url('./assets/Fonts/Manrope-ExtraBold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

.visually-hidden {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

body {
	font-family: 'Manrope', sans-serif;
	background-color: var(--clr-secondary-600);
	color: var(--clr-secondary-300);
	font-weight: 400;
}

.main {
	margin-block-start: 4.188rem;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 9rem;
}

.container {
	width: min(calc(100% - 2rem), 69.375rem);
	margin-inline: auto;
}

@media (min-width: 48em) {
	.container {
		width: min(calc(100% - 5rem), 69.375rem);
	}

	.main {
		margin-block-start: 4.813rem;
	}
}

@media (min-width: 59.375em) {
	.main {
		margin-block-start: 7.125rem;
		gap: 12.625rem;
	}
}
